
.statement{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: #FFD9CA;
}

h2{
    padding: 1em;
    display: flex;
    align-items:center;
    justify-content: center;
}

p{
    padding-left: 1em;
}

h3{
    padding: 1em;
}

ul{
    padding-left: 2em; 
}

a{
    padding-left: .5em;
    text-decoration: none;
}